body{
  margin: 0px 0px 0px 0px;
}

.load{
  width: 100%;
  height: 100%;
  position:fixed;
  z-index:9999;
  background:url("../icon/loding.gif") no-repeat center center rgb(255, 255, 255);
  opacity: 95%;
}

#logo-hr{
  display: block;
  margin-top: 40px;
  max-width: 30%;
  height: auto;
}

#algntxt{

  text-align: center;
  margin: 0px 0px 20px 0px;
}

#algntxt-color {

  text-align: center;
  margin: 0px 0px 20px 0px;
  color: rgb(0, 119, 255);

}

#algnbtn{

  text-align: center;
  margin: 0px 0px 0px 0px;
}

#link-bot{

  margin: 20px 10px 20px 10px;

}

#img-bot{

  margin: 20px 10px 20px 10px;
  max-width: 40%;
  height: auto;

}



:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
